/* Nav Bar*/
.nav__container{
	max-height: 10vh;
	position: relative;
}
.nav__icon{
	position: absolute;
}
.nav__icon img{
	height: 60px;
	width: auto;
}
ul.nav__list{
	height: 60px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #2F4858;
	
	display: flex;
	justify-content: flex-end;
	align-items: center;
	/*flex-flow: row-reverse nowrap;*/
}
ul.nav__list li{
	text-align: center;
	font-size: 1.1em;
	flex-grow: 0.05;
	font-family: 'Alegreya Sans', sans-serif;
}
ul.nav__list a{
	text-decoration: none;
	color: antiquewhite !important;
}
/* Hero Carousel */
.hero__container{
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 30%, #000000);
}
.hero__logo{
	position: absolute;
	right: 50vw;
	transform: translateX(50%);
	bottom: 100px;
}
.hero__logo img{
	width: 30vw;
	height: auto;
}
.hero__carousel {
	height: 100%;
	max-height: 90vh;
	width:100vw;
	overflow: hidden;
	position: relative;
}
.hero__carousel img{
	width: 100%;
	margin: 0 auto;
}
.carousel-inner {
	z-index: -1;
}

/* About Us */
.aboutus__container{
	height: 100%;
	padding-top: 5em;
	padding-bottom: 5em;
}
.aboutus__intro{
	font-family: 'Work Sans', sans-serif;
	font-size: 1.6em;
}
.aboutus__link{
	padding-top: 1.5em;
	font-size: 1em;
}
.aboutus__link a{
	text-decoration: none;
	color: #2F4858;
}

/* Our Events */
.events__container{
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: #3A506B;
	padding-left:5%;
	padding-right:5%;
}
.events__container iframe{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.events__title{
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 2.5em;
	padding-bottom: 0.2em;
	color: white;
}
/* Customized Calendar Style */
.fc {
	color: wheat;
}
.fc-today {
  	opacity: 0;
  	border: none;
}
.fc-time-grid .fc-slats .fc-minor td{
	border-top-style: none !important;
}
.fc td, .fc th {
    border-style: none !important;
    border-width: 1px;
    padding: 0;
    vertical-align: top;
}
.fc-divider.fc-widget-header{
	opacity: 0;
}
.fc-event .fc-bg {
    z-index: 1;
    background: inherit;
    opacity: .25;
    filter: alpha(opacity=25);
}
.fc-time-grid-event.fc-v-event.fc-event {
  	border-radius: 4px;
 	border: none;
  	padding: 5px;
}
.fc-event.fc-bg {
  	z-index: 1;
  	background: inherit;
  	opacity: .25;
}

/* Join us */
.joinus__container{
	height: 100%;
	padding-top: 3em;
	padding-bottom: 5em;
	color: black;
}
.joinus__title{
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 2.5em;
	padding-bottom: 0.5em;
}
.joinus__text{
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	font-weight: 300;
}
.joinus__form {
	font-family: 'Work Sans', sans-serif;	
	padding-top: 20px;
}
.joinus__form--error{
	padding-top: 5px;
}
.joinus__success{
	padding-top: 20px;
}

/* Projects */
.projects__container{
	padding-top: 2em;
	height: 100%;
}
.projects__list{
	padding: 20px;
}
.projects__img img{
	max-height: 100% !important;
	max-width: 100% !important;
}
.projects__name{
	font-family: 'Alegreya Sans', sans-serif;	
	font-size: 1.3em;
	text-align:left;
	padding-top: 20px;
	color: #248BCB;
}
.projects__intro{
	font-family: 'Roboto', sans-serif;
	text-align: left;
}
.projects__footer {
	font-family: 'Alegreya Sans', sans-serif;	
	padding-bottom: 1em;
	font-size: 1.2em;	
}
/* Grid styles */
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
	vertical-align: top;
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}
/* Divider */
.body__divider{
	height: 5px;
	width: 60vw;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(185,185,185,0.65) 0%, rgba(185,185,185,0) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(185,185,185,0.65) 0%,rgba(185,185,185,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  rgba(185,185,185,0.65) 0%,rgba(185,185,185,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6b9b9b9', endColorstr='#00b9b9b9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.div__centered{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

/* Video player*/
.video-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
	height: auto; 
	background-image: url(../img/videobg.jpg);
} 
.video-container iframe, 
.video-container object, 
.video-container embed { 
	position: absolute; 
	top: 50%; 
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%; 
	height: 80%; 
}

/* Photo */
.photos__container{
	background-image: url('../img/wall/1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 2em;
}
.photos__photo{
	padding: 0;
	overflow: hidden;
}
.photos__item {
	object-fit: contain;
	height: 250px;
	width: 250px;
	transition: all .2s ease-in-out;
}
.photos__item:hover{
	transform: scale(1.2);
}
.photos__load{
	border-style: none;
	background-color: transparent;
	font-size: 3em;
	color: white;
}

/*Contact us form*/
.contactus__container{
	padding-top: 2em;
	padding-bottom: 3em;
}
.contactus__title{
	font-family: 'Alegreya Sans', sans-serif;	
	padding-bottom: 0.5em;
	font-size: 2em;
}
.contactus__form{
	font-family: 'Work Sans', sans-serif;
	padding-top: 2em;
}
.contactus__form table{
	width: 70%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.contactus__form tr td input{
	width: 100%;
}
.contactus__form tr td textarea{
	width: 100%;
	resize: none;
}
.contactus__success{
	padding-top: 4em;
}
.contactus__right{
	font-family: 'Work Sans', sans-serif;
	padding-top: 4em;
}

/* footer */
.footer__container{
	padding-top: 20px;
	color: white;
	background-color: #2F4858;
	height: 100px;
	width: 100%;
	font-family: 'Work Sans', sans-serif;	
	font-weight: 500;
}

/*Button*/
.btn {
	background: #1E96DD;
	background-image: linear-gradient(to bottom, #1E96DD, #2980b9);
	border-style: none;
	border-radius: 4px;
	font-family: 'Work Sans', sans-serif;	
	color: #ffffff;
	font-size: 12px;
	padding: 7px 12px 7px 12px;
	text-decoration: none;
}
.btn:hover {
	background: #3cb0fd;
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}
.toTopBtn{
	padding: 10px;
	color: white;
	font-size: 2em;
	background-color: #1E96DD;
	border-style: none;
	border-radius: 50%;
	opacity: 0.8;
}
.icon-top{
	position: fixed;
	right: 15px;
	bottom: 15px;
	z-index: 9999;
}

/* Input boxes */
input {
	padding: 10px;
	border: none;
	border-bottom: solid 2px #c9c9c9;
	transition: border 0.3s;
}
input:focus,
input.focus {
	border-bottom: solid 2px #969696;
}