<!-- Nav Bar -->
<div class="nav__container">
	<div class="nav__icon">
	</div>

	<ul class="nav__list">
		<li>About Us</li>
		<li>Our Events</li>
		<li>Join Us</li>
		<li>Our Projects</li>
		<li>Contact Us</li>
		<li>Photos</li>
	</ul>
</div>

<!-- Hero Carousel -->
<div class="hero__container">
	<div class="hero__carousel">
		
	</div>
	
</div>

<!-- About Us -->

<!-- Our Events -->

<!-- Join Us -->

<!-- Our Projects -->

<!-- Contact Us -->

<!-- Photos -->

<!-- Grid Body -->
<div class="container-fluid">
	<div class="row row-centered">
		<div class="col-xs-3 col-centered">1</div>
		<div class="col-xs-3 col-centered">2</div>
		<div class="col-xs-3 col-centered">3</div>

	</div>
</div>